@page "/dashboard"

<style>
    .banner-area2 {
        width: 100%;
        height: 300px; /*was 400*/
        position: relative;
        top: 0;
        background-image: url("../Images/Graph.jpg");
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }

        .banner-area2 h2 {
            text-align: center;
            padding-top: 100px;/*was 150*/
            font-size: 70px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
            color: mediumpurple; /*Was #fff*/
        }
</style>

<!-- Header Area -->
<div class="box-area">
    <div class="banner-area2">
        <h2>Dashboard</h2>
    </div>
</div>




<h3 style="color:mediumpurple; margin-top:30px">Your Dashboard</h3>

<p>Analyse all your data with ease and find the statistics you are looking for: </p>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">       
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px; box-shadow: 2px 2px 2px 2px mediumPurple;">
                <MudTooltip Text="Pie Chart For Flower Effects" Color="Color.Secondary" Placement="Placement.Top">
                <MudChart ChartType="ChartType.Pie" InputData="@data" LegendPosition="@LegendPosition2" InputLabels="@labels" Width="150px" Height="150px" />
            </MudTooltip>
            </MudPaper>            
        </MudItem>

        <MudItem xs="12" sm="6" md="4">          
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px; box-shadow: 2px 2px 2px 2px mediumPurple">
                <MudTooltip Text="Donut Chart For Flower Effects" Color="Color.Secondary" Placement="Placement.Top">
                <MudChart ChartType="ChartType.Donut" LegendPosition="@LegendPosition" Width="150px" Height="150px"
                          InputData="@data" InputLabels="@labels">
                </MudChart>
                </MudTooltip>
            </MudPaper>            
        </MudItem>

        
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px; box-shadow: 2px 2px 2px 2px mediumPurple">
                <MudTooltip Text="Line Chart For Profits" Color="Color.Secondary" Placement="Placement.Top">
                <MudChart ChartType="ChartType.Line" LegendPosition="@LegendPosition" ChartSeries="@Series2" XAxisLabels="@XAxisLabels" Width="100%" Height="170px"></MudChart>
                </MudTooltip>
            </MudPaper>           
        </MudItem>
        

        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px; box-shadow: 2px 2px 2px 2px mediumPurple;"></MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px; box-shadow: 2px 2px 2px 2px mediumPurple;"></MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%; box-shadow: 2px 2px 2px 2px mediumPurple"></MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px; box-shadow: 2px 2px 2px 2px mediumPurple">
                <MudChart ChartType="ChartType.Donut" Width="150px" Height="150px" InputData="@data" InputLabels="@labels" LegendPosition="@LegendPosition">
                    <CustomGraphics>
                        <text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="2">Total</text>
                        <text class="donut-inner-text" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5">@data.Sum().ToString()</text>
                    </CustomGraphics>
                </MudChart>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px; box-shadow: 2px 2px 2px 2px mediumPurple"></MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12" md="4" Style="margin-bottom:15px">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 400px; box-shadow: 2px 2px 2px 2px mediumPurple">
                <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="300px">
                    <CustomGraphics>
                        <style>
                            .heavy {
                                font: bold 30px Helvetica;
                            }

                            .Rrrrr {
                                font: italic 40px Helvetica;
                                fill: mediumpurple;
                            }
                        </style>
                        <text x="80" y="35" class="heavy">I Love</text>
                        <text x="105" y="70" class="Rrrrr">FLOWERS!</text>
                    </CustomGraphics>
                </MudChart>
            </MudPaper>
        </MudItem>
      
    </MudGrid>
</MudContainer>



@code {
    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "People", Data = new double[] { 40, 20, 25, 27, 46, 60} },
        new ChartSeries() { Name = "Flowers", Data = new double[] { 19, 24, 35, 13, 28, 15} },
        new ChartSeries() { Name = "Cost per flower", Data = new double[] { 8, 6, 11, 13, 4, 16} },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun" };



    public List<ChartSeries> Series2 = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Sales", Data = new double[] { 5, 18, 10, 17} },
        new ChartSeries() { Name = "Profit", Data = new double[] { 7, 20, 12, 19} },
    };
    public string[] XAxisLabels2 = { "Jan", "Feb", "Mar", "Apr"};



    public double[] data = { 25, 77, 28 };
    public string[] labels = { "Pollution", "Flowers", "People" };

    public Position LegendPosition { get; set; } = Position.Left;
    public Position LegendPosition2 { get; set; } = Position.Right;
}
